@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #2d3047;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav .menu .logo img{
    width: 80px;
}

header nav .menu .links{
    display: flex;
}

header nav .menu .links a{
    padding: 16px 12px;
    color: #fff;
    text-decoration: none;
    
}

.titulo{
    margin-bottom: 15px;
    padding-top: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
}

.container-all{
    color: rgb(0, 0, 0);
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background: rgba(255, 253, 253, 0.212);
    margin-top: 25px;
    border-top: 6px solid #2d3047;
}

.container-all img{
    float: left;
    width: 450px;
    height: 200px;
    margin-left: 5px;
    margin-right: 10px;
    object-fit: cover;
    padding-bottom: 5px;
}

